body {
    background-color: hsl(140, 73%, 43%);
    width: 50em;
    font-family: cursive;
}
* {
    padding: 0;
    margin: 0;
    font-family: cursive;
}
li {
    font-size: 25px;
}
a {
    font-size: 25px;
}
.h1 {
    color: rgb(255, 0, 0);
    font-size: 100px;
    width: 500px;
    text-align: center;
    background-color: hsl(108, 91%, 29%);
    border-radius: 50px;
    position: relative;
    left: 4.5em;
    transition: 1s;
}
.h1:hover {
    background-color: hsla(240, 91%, 29%, 0.575);
    color: hsl(0, 82%, 18%);
    border-radius: 5px;
    width: 5.5em;
    position: relative;
    left: 2em;
}
.p1 {
    padding: 50px;
    font-size: 2em;
    font-family: cursive;
    position: relative;
    left: 10em;
}
li {
    text-align: auto;
    margin: 0 0 2em 0;
}
h3 {
    font-size: 50px;
    border-style: solid;
    background-image: url(Pictures/tomato.jpg);
    background-position: 50px;
    padding: 40px 1px 40px 1px;
    border-width: 12px;
    background-repeat: repeat;
}
#apple {
    text-align: center;
    border-radius: 50px;
    margin-bottom: 50px;
    position: relative;
    left: 32em;
}
#site2 {
    font-size: 20px;
    color: rgb(255, 0, 0);
    position: relative;
    left: 1200px;
    bottom: 152px;
    border: black 2px;
    border-style: dotted;
    padding: 0px 5px 0px 5px;
}
#gohere {
    font-family: sans-serif;
    color: black;
    margin-bottom: 250px;
    text-align: center;
}
#tomato {
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    border-radius: 50px;
}
#Mostthings {
    margin-top: 25px;
    text-align: center;
    text-shadow: black;
    font-size: 120px;
    border: black solid 15px;
    width: 10.99em;
    height: 150px;
    background: url(Pictures/tomato.jpg);
}
#aboutme {
    width: 84.3em;
    height: 90px;
    background-color: rgb(88, 60, 60);
    padding-bottom: 50px;
    margin-bottom: 80px;
}
#pagetitle {
    font-size: 80px;
    position: relative;
    left: -001px;
    top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sword1 {
    width: 5em;
    position: relative;
    left: 15em;
    bottom: 3.5em;
    animation: spin infinite 1s linear;
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    } 
}
#blue {
    background-color: blue;
    width: 2em;
    height: 2em;
    position: relative;
    left: 70em;
    bottom: 11em;
}
.blue-mode {
    background-color: blue;
}
#bluetext {
    position: absolute;
    left: 69%;
    bottom: 96%;
}
